obj
bin
Output
debug
_Resharper.*
_ReSharper.*
*.csproj.user
*.ccproj.user
*.resharper.user
*.ReSharper.user
*.resharper
*.ReSharper
*.suo
*.cache
*~
*.swp
*.dbproj.user
*.dbmdl
*.build.csdef
error-*.xml
*.transformed.csdef
*.transformed.cscfg
drops
PrecompiledWeb
tmp*.*
TestResults/
_UpgradeReport_Files/
*.log
StyleCop.Cache
*/csx/*
sql/
